.site-header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--header-top-text-color);
}

.site-header-lang-list {
  display: flex;
  align-items: center;
}

.site-header-menu-item:not(:first-child) {
  margin-left: 20px;
}

.site-header-lang-item:not(:first-child) {
  margin-left: 15px;
  font-size: 14px;
  line-height: 23px;
  color: #8c8ca2;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.site-header-menu-link {
  font-size: 14px;
  line-height: 23px;
  color: var(--header-top-text-color);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.site-header-menu {
  display: flex;
  align-items: center;
}

.site-header-menu-list {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.site-header-tonight {
  display: flex;
  align-items: center;
}

.label-text {
  margin-right: 10px;
  font-size: 14px;
  line-height: 23px;
  color: var(--header-top-text-color);
}

.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 19px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.site-header-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.site-header-middle-start {
  display: flex;
  align-items: center;
}

.site-header-logo {
  margin-right: 61px;
}

.form-box {
  display: flex;
  align-items: center;
}

.select-box {
  padding: 10px;
  background-color: #eb1537;
  border-radius: 6px;
  border: none;
  color: #fff;
  margin-right: 60px;
}

.input-search {
  width: 400px;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 17px 5px 17px 20px;
  border: none;
  outline: none;
}

.input-label{
  display: flex;
  align-items: center;
  width: 444px;
  background-color: #ffffff;
  border: 1px solid #8c8ca2;
  border-radius: 6px;
}

.site-header-search-btn{
  background-color: #EB1537;
  border-radius: 6px;
  border: none;
  padding: 10px;
  margin: auto;
  margin-right: 5px;
}

.site-header-middle-list{
  display: flex;
  align-items: center;
}

.site-header-middle-item{
  display: flex;
  align-items: center;
}

.site-header-middle-item:not(:first-child){
  margin-left: 31px;
}

.site-header-middle-item:first-child::before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../../Assets/Images/user.svg);
  background-repeat: no-repeat;
  margin-right: 10px;
}

.site-header-middle-item:nth-child(2):before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../../Assets/Images/like.svg);
  background-repeat: no-repeat;
  margin-right: 10px;
}

.site-header-middle-item:first-child::before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../../Assets/Images/user.svg);
  background-repeat: no-repeat;
  margin-right: 10px;
}

.site-header-middle-item:last-child::before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../../Assets/Images/korzinka.svg);
  background-repeat: no-repeat;
  margin-right: 10px;
}

.site-nav-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.site-nav-link{
  font-size: 14px;
  line-height: 140%;
  color: #0E0E2C;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding: 7px;
}

.site-nav-link:hover{
  background-color: #ECF1F4;
  border-radius: 6px;
}
